.app {
  text-align: center;
  
}
.container{
  height: 100vh; /* Ensure the container takes up the full viewport height */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.Conversation {
  flex: 1; /* Fill the remaining space in the container */
  /* Other styles for the conversation component */
}
.main-content {
  
  padding: 20px;
  /* Add any other main content styles */
}
.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
